@media screen and (max-device-width:736px) {
    html {
        font-size: 2em;
    }

    .pure-menu-horizontal {
        display: inline-block;
    }
    .pure-menu-horizontal .pure-menu-list {
        display: block;
    }
    .pure-menu-horizontal .pure-menu-item {
        display: block;
    }
}

html {
    background: #35777d;
}

body {
    background: OrangeRed;
    color: white;
    margin: 0 auto;
    max-width: 768px;    
    padding: 1em 0;
}

body > header, body > footer {
    margin: 0;
    padding: 0 2em;
}

body > header {
    text-align: center    
}

body > header > h1 {
    margin-bottom: 0;
}

body > header > h2 {
    margin-top: 0;    
}

article {
    background: white;
    color: black;   
    padding: 0 2em 2em;
}

article > header {
    color: OrangeRed;
}

article > header > h1, article > header > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

article > header > h2 {
    color: LightSteelBlue;
    display: inline;
    font-size: 1em;
}
