@media screen and (max-device-width:736px) {
    html {
        font-size: 2em;
    }
}

body {
    font-family: Verdana, Geneva, sans-serif;
    margin: 0 auto;
    max-width: 768px;
    padding: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

body > header, body > footer {
    margin: 0;
    padding: 0 2em;
}

body > header {
    text-align: center;
}

body > header > h1, body > header > h2 {
    font-family: "Lucida Console", Monaco, monospace;
}

body > header > h1 {    
    margin-bottom: 0;    
}

body > header > h2 {
    margin-top: 0;    
}

body > footer {
    font-size: 0.7em;
}

body > footer > p {
    margin: 0;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    padding: 0 2em;
}

nav li + li:before {
    content: "|";
}

article {
    padding: 0 2em;
}

article > header > h1, article > header > h2 {
    margin-top: 0;
    margin-bottom: 0;
}

article > header > h2 {
    display: inline;
    font-size: 1em;
}
