<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Sid Ryu : Game and Working Ideas</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">    
</head>
<body>
    <header>
        <h1>Sid Ryu</h1>
        <h2>Game and Working Ideas</h2>
        <nav>
            <ul>
                <li>ideas</li>
                <li>inspirations</li>
                <li>game maing made easy</li>
            </ul>
        </nav>
    </header>    
    {{ content }}     
    <footer>
    </footer>
</body>
</html>
